@font-face {
    font-family: 'SFProDisplay-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('DMSans-Bold') url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('SFProDisplay-Regular') url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Light';
    font-weight: 300;
    font-style: normal;
    src: local('SFProDisplay-Light') url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('SFProDisplay-Medium') url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Semibold';
    font-weight: 600;
    font-style: normal;
    src: local('SFProDisplay-Semibold') url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-bold';
    font-weight: 700;
    font-style: normal;
    src: local('Ubuntu-bold') url('../fonts/Ubuntu-bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Light';
    font-weight: 300;
    font-style: normal;
    src: local('Ubuntu-Light') url('../fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/Ubuntu-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Ubuntu-Medium') url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff');
    font-display: swap;
}